- content_for :title do
  Impressum | PageRank - Test | ein kostenloser Service zur Überprüfung des Google PageRanks
#impressum
  %h3
    Impressum
  %p
    Henning Thies
    %br
    Heidhörn 8
    %br
    22307 Hamburg
    %br
    &#116;&#104;&#105;&#101;&#115;&#046;&#104;&#101;&#110;&#110;&#105;&#110;&#103;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;
  %p
    Haftungsausschluss
    Ich distanziere mich ausdrücklich von den Inhalten der auf dieser Seite gelinkten Seiten, da ich keinerlei Einfluss auf die Gestaltung und die Inhalte dieser habe. Sollten gelinkte bzw. verknüpfte Seiten gegen geltendes Recht verstoßen, werden diese umgehend nach bekannt werden entfernt.
    Ich garantiere nicht für die Richtigkeit der Testergebnisse.
  %p
    PageRank™ und Google™ sind geschützte Marken der Google Inc., Mountain View CA, USA.